#menu{
    font-family: Arial, Helvetica, sans-serif;
}
#menu p{
    margin: 0px;
    padding:0px;

}
#menu a{

    padding: 3px;
    width: 168;
    background-color: blue;
    border-bottom: 1px solid rebeccapurple;
    text-align: center;
}
#menu a link, #menu a :visited{
    color: brown;
    text-decoration: none;

}

#menu a :hover{
background-color:blank;
color: blanchedalmond
}